#######################################################################################
# Node.js
#######################################################################################

node_modules
dist
.cache
.vite

#######################################################################################
# Archivos de entorno
#######################################################################################

.env
.env.*
.env.production

#######################################################################################
# Logs
#######################################################################################

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#######################################################################################
# Sistemas Operativos
#######################################################################################

.DS_Store
Thumbs.db

#######################################################################################
# Editores / IDEs
#######################################################################################

.vscode/
.idea/
*.swp

#######################################################################################
# Otros
#######################################################################################

*.local
