.detalle-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 3rem 1rem 3rem 1rem;
    border-radius: 5px;
    background-color: #dbdbdb;
    ;
    color: #424242;
}

.detalle-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: start;
    color: #007bff;
    margin-bottom: 0.8rem;
}

.detalle-text-1 {
    font-size: 1.5rem;
    color: #424242;
    margin-bottom: 0.5rem;
    text-align: start;
}

.detalle-text {
    font-size: 1.4rem;
    color: #424242;
    margin-bottom: 0.5rem;
    text-align: start;
}

.detalle-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

.detalle-btn {
    border: none;
    padding: 0.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: #ffffff;
}

.detalle-btn:hover {
    transform: scale(1.05);
}

.detalle-btn-telefono {
    background-color: #007bff;
}

.detalle-btn-telefono:hover {
    background-color: #0056b3;
}

.detalle-btn-whatsapp {
    background-color: #28a745;
}

.detalle-btn-whatsapp:hover {
    background-color: #218838;
}

.detalle-empty {
    color: #9E9E9E;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}